{% assign image_source = site.image_source | default: '/assets/images/' %}
<!-- Sidebar -->
<section id="sidebar">

  {% include sidebar/intro.html datafile=site.data.sidebar.intro %}

  {% for section in include.datafile.sections %}
    {% assign include_file = section.type | prepend: 'sidebar/' | append: '.html' %}
    {% include {{ include_file }} class=section.class value=section.value max=section.max %}
  {% endfor %}

  {% include sidebar/about.html datafile=site.data.sidebar.about %}

  {% include footer.html %}

</section>
