{% assign image_source = site.image_source | default: '/assets/images/' %}
{% assign post_source = site.posts | where: include.class, include.value %}

<!-- Mini Posts -->
<section>
  <div class="mini-posts">
    {% for post in post_source limit: include.max %}
      <!-- Mini Post -->
      <article class="mini-post">
        <header>
          <h3><a href="{{ post.url | relative_url }}">{{ post.heading | default: post.title }}</a></h3>
          <time class="published">{{ post.date | date: site.date_format }}</time>
          <a href="#" class="author"><img src="{{ 'avatar.jpg' | prepend: image_source | relative_url }}" alt="" /></a>
        </header>
        <a href="{{ post.url | relative_url }}" class="image"><img src="{{ post.image | prepend: 'small/' | prepend: image_source | relative_url }}" alt="" /></a>
      </article>
    {% endfor %}
  </div>
</section>
